# Linux
*~

# macOS
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# LibreOffice
.~lock.*#

# SOALE directories
/build/
/share/**/*.[Bb][Ii][Nn]
/share/**/*.ect
/share/**/*.dsp
/share/**/*.gvr
/share/**/*.ldr
/share/**/*.info
/share/**/*.mld
/share/**/*.mlk
/share/**/*.mll
/share/**/*.samp
/share/**/*.sml
/share/**/*.sct
/share/**/*.sst
/share/**/*.std
/share/**/FontData.EU
/share/**/FontData.jp
/share/**/FontData.US
/share/*/archive/
/share/*/snapshot
/thirdparty/
/tools/

# SOALE files
!/share/**/field/a299a02.mld
!/share/**/sound/m0[1234]_[lr].dsp
!/share/**/sound/m0367.info
!/share/**/title/ts900000.mld
!/share/**/title/ts900000f.mld
!/share/**/title/ts900000g.mld
!/share/**/title/ts900000s.mld

# Enemy 165 (Spell Warden)
!/share/**/beff/f05000a5.mlk
!/share/**/bchara/mg037.mld
!/share/**/bchara/mg037.std
!/share/**/bchara/mg0370.std

# Enemy 166 (Spell Warden)
!/share/**/beff/f05000a6.mlk
!/share/**/bchara/mg038.mld
!/share/**/bchara/mg038.std
!/share/**/bchara/mg0380.std

# Enemy 167 (Royal Guard)
!/share/**/beff/f05000a7.mlk
!/share/**/bchara/mg039.mld
!/share/**/bchara/mg039.std
!/share/**/bchara/mg0390.std

# Enemy 169 (Kantor)
!/share/**/beff/b7025641_L.dsp
!/share/**/bchara/b7025641_R.dsp
!/share/**/bchara/f05000a9.mlk
!/share/**/bchara/f29005a9.mlk
!/share/**/bchara/mg041.mld
!/share/**/bchara/mg041.std
!/share/**/bchara/mg0410.std
