# Linux
*~

# macOS
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# LibreOffice
.~lock.*#

# ALX directories
/bin/
/build/
/config/
/lib/
/log/
/misc/
/temp/
/tool/
/vendor/

# SOALE directories
/dist/**/*.[Bb][Ii][Nn]
/dist/**/*.ect
/dist/**/*.dsp
/dist/**/*.gvr
/dist/**/*.ldr
/dist/**/*.info
/dist/**/*.mld
/dist/**/*.mlk
/dist/**/*.mll
/dist/**/*.samp
/dist/**/*.sml
/dist/**/*.sct
/dist/**/*.sst
/dist/**/*.std
/dist/**/FontData.EU
/dist/**/FontData.jp
/dist/**/FontData.US
/dist/*/backup/
/dist/*/cache/
/dist/*/data/scripttask.bak/
/dist/*/image/

# SOALE files
!/dist/**/field/a299a02.mld
!/dist/**/sound/m0367.info
!/dist/**/title/ts900000.mld
!/dist/**/title/ts900000f.mld
!/dist/**/title/ts900000g.mld
!/dist/**/title/ts900000s.mld

# Magic Droplet at New Game
!/dist/**/field/me201a.sct

# Enemy 5 (Enforcer)
!/dist/**/bchara/mg005.mld
!/dist/**/bchara/mg005.std
!/dist/**/bchara/mg0050.std
!/dist/**/beff/f0500005.mlk
!/dist/**/beff/f2907005.mlk
!/dist/**/beff/f2907205.mlk

# Enemy 166 (Spell Warden)
!/dist/**/bchara/mg038.mld
!/dist/**/bchara/mg038.std
!/dist/**/bchara/mg0380.std
!/dist/**/beff/f05000a6.mlk

# Enemy 167 (Spell Warden)
!/dist/**/bchara/mg039.mld
!/dist/**/bchara/mg039.std
!/dist/**/bchara/mg0390.std
!/dist/**/beff/f05000a7.mlk

# Enemy 170 (Royal Guard)
!/dist/**/bchara/mg042.mld
!/dist/**/bchara/mg042.std
!/dist/**/bchara/mg0420.std
!/dist/**/beff/f05000aa.mlk

# Enemy 171 (Kantor)
!/dist/**/bchara/mg043.mld
!/dist/**/bchara/mg043.std
!/dist/**/bchara/mg0430.std
!/dist/**/beff/f05000ab.mlk
!/dist/**/beff/f29005ab.mlk
!/dist/**/sound/b7025643_L.dsp
!/dist/**/sound/b7025643_R.dsp

# Enemy 172 (Kantor)
!/dist/**/bchara/mg044.mld
!/dist/**/bchara/mg044.std
!/dist/**/bchara/mg0440.std
!/dist/**/beff/f05000ac.mlk
!/dist/**/beff/f29005ac.mlk
!/dist/**/sound/b7025644_L.dsp
!/dist/**/sound/b7025644_R.dsp

# Enemy 175 (Polraxis)
!/dist/**/bchara/mg047.mld
!/dist/**/bchara/mg047.std
!/dist/**/bchara/mg0470.std
!/dist/**/beff/f05000af.mlk

# Enemy 176 (Polraxis)
!/dist/**/bchara/mg048.mld
!/dist/**/bchara/mg048.std
!/dist/**/bchara/mg0480.std
!/dist/**/beff/f05000b0.mlk

# Enemy 177 (Polraxis)
!/dist/**/bchara/mg049.mld
!/dist/**/bchara/mg049.std
!/dist/**/bchara/mg0490.std
!/dist/**/beff/f05000b1.mlk

# Enemy 180 (Mage Warden)
!/dist/**/bchara/mg052.mld
!/dist/**/bchara/mg052.std
!/dist/**/bchara/mg0520.std
!/dist/**/beff/f05000b4.mlk

# Enemy 181 (Mage Warden)
!/dist/**/bchara/mg053.mld
!/dist/**/bchara/mg053.std
!/dist/**/bchara/mg0530.std
!/dist/**/beff/f05000b5.mlk
