# Linux
*~

# macOS
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# SOALE directories
/build/
/share/**/*.[Bb][Ii][Nn]
/share/**/*.ect
/share/**/*.dsp
/share/**/*.gvr
/share/**/*.ldr
/share/**/*.info
/share/**/*.mld
/share/**/*.mlk
/share/**/*.mll
/share/**/*.samp
/share/**/*.sml
/share/**/*.sct
/share/**/*.sst
/share/**/*.std
/share/**/FontData.EU
/share/**/FontData.jp
/share/**/FontData.US
/share/*/archive/
/share/*/snapshot
/thirdparty/
/tools/

# SOALE files
!/share/**/field/a299a02.mld
!/share/**/sound/m0[1234]_[lr].dsp
!/share/**/sound/m0367.info
!/share/**/title/ts900000.mld
!/share/**/title/ts900000f.mld
!/share/**/title/ts900000g.mld
!/share/**/title/ts900000s.mld

# Enemy 165 (Spell Warden)
!f05000a5.mlk
!mg037.mld
!mg037.std
!mg0370.std

# Enemy 166 (Spell Warden)
!f05000a6.mlk
!mg038.mld
!mg038.std
!mg0380.std

# Enemy 167 (Royal Guard)
!f05000a7.mlk
!mg039.mld
!mg039.std
!mg0390.std

# Enemy 169 (Kantor)
!b7025641_L.dsp
!b7025641_R.dsp
!f05000a9.mlk
!f29005a9.mlk
!mg041.mld
!mg041.std
!mg0410.std
